.screenContainer {
    display: flex;
    padding: 1px;
    gap: 1px;
    height: 810px;
    width: 720px;
    border: 1px solid black;
}

.mainContainer {
    display: flex;
    border: 1px solid black;
}

#frame {
    display: flex;
    flex-direction: column;
    height: 90%;
}