.screenContainer {
    background-color: azure;
    display: flex;
    padding: 1px;
    gap: 1px;
    height: 720px;
    width: 900px;
    border: 1px solid black;
}

.mainContainer {
    display: flex;
    border: 1px solid black;
}

#frame {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    height: 920px;
    width: 760px;
}